<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.star.webapp.mapper.CollectionMapper">


	<select id="findMyCollections" parameterType="int"
		resultType="com.star.webapp.model.Collection">
		select
		collection_id,collection_name,collection_image,re_collection_num,collection.like_num,avatar,nick_name,board_name
		from collection left join user_info on collection.user_id =
		user_info.user_id
		left join board on collection.board_id =
		board.board_id
		where collection.user_id =#{user_id}
	</select>

	<select id="findOtherCollections" resultType="com.star.webapp.model.Collection">
		select
		collection_id,collection_name,collection_image,re_collection_num,collection.like_num,avatar,nick_name,board_name
		from collection left join user_info on collection.user_id =
		user_info.user_id
		left join board on collection.board_id =
		board.board_id
		where collection_id > 10
	</select>


</mapper>